

.hero-section-container {
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(255, 0, 0, 0)
  ), url("https://s3-alpha-sig.figma.com/img/2c0a/c698/c200984ece39cf72eae95d0a61c92772?Expires=1681689600&Signature=GW4hlgH2vz~1BvfnDw1je4AbBqoXqM7gzFtvAGosLwmygc1IYrFCP~l0X6pqeOlM4eAkEpnoILzowzosiRsBiu6ufd93-gkF9-pIc2Ht3QiEY7SbkVXzcVepFwGigb3S6ft1AxP0xrN4lZXliffvjO9m1TItZ1F0pdrmnLerqMImB9It0n1jpzEfXGn6b7egD22129lYUTDjVghuggzHLeMEko8fSk6fWkge-kDO-bxNK7VacL3AXOdR5E8n~e5obzloAVaUyHh-tI3B7j4vrS7DrucRBfj~Lm3IPhGJxBjQ4CX1idHqfJzu-gZP2a3Jk0F1l6kjAVEK6ctZDmM3ug__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  height: 550px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

}

/* .single-product-conatiner{
  cursor: pointer;
}

.single-product-image{
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  opacity: 0;
  background: white;
  color: black;
  transition: 0.4s ease-out;
  width: 200px;
  height: 200px;
} */
